<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SHE Choir {{ choir | sentenceCase }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <link rel="icon" type="image/png" href="{{ ['/images/favicons/', choir, '/favicon.ico'] | join | url }}">
    <link rel="shortcut icon" href="{{ ['/images/favicons/', choir, '/favicon.ico' ] | join | url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ ['/images/favicons/', choir, '/apple-touch-icon.png' ] | join | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ ['/images/favicons/', choir, '/favicon-32x32.png'] | join | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ ['/images/favicons/', choir, '/favicon-16x16.png'] | join | url }}">
    <link rel="manifest" href="{{ ['/images/favicons/', choir, '/site.webmanifest' ] | join | url }}">
    <link rel="mask-icon" href="{{ ['/images/favicons/', choir, '/safari-pinned-tab.svg" color="#f47878' ] | join | url }}">
  </head>
  <body data-choir="{{ choir }}">
    <div id="page-wrapper" class="wrapper">
      <header id="header">
        <img src="{{ logo }}" alt="SHE Choir {{ choir }} logo"/>
        <dropdown-menu max-width="600">
          <nav class="navigation" aria-label="primary">
            <ul>
              {% for item in menu %}
                <li>
                  <a href="#{{ item.slug }}">{{ item.label }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
          {% socialMenu social %}
        </dropdown-menu>
      </header>
      <main class="content-wrapper">
        {% if subheading %}
          <h1>
            {{ title | safe }}<br/>
            <span class="subheading">{{ subheading | safe }}</span>
          </h1>
        {% else %}
          <h1>
            {{ title | safe }}
          </h1>
        {% endif %}
        <div class="content">
          {{ content | safe }}
        </div>
      </div>
    </main>
    <footer>
      <p class="copyright p">
        © {{ year }} SHE Choir {{ choir | sentenceCase }}. Part of the
        <a href="/">SHE Choir Network</a>
      </p>
    </footer>
    <script src="/js/menu.js" type="module" defer></script>
  </body>
</html>