@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-ExtraBold.woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-Regular.woff');
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-Bold.woff');
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  font-family: 'Noto Serif', serif;
  font-weight: bold;
}
h1 {
  font-size: clamp(1.75rem, 4vw + 1rem, 3rem);
}

a {
  text-decoration: none;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}
