.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: clamp(0.5rem, 5%, 1.5rem);
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem clamp(0.5rem, 5%, 1.5rem);
  img {
    max-width: min(5rem, 15vw);
  }
  h1 {
    line-height: 1.75rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  & * {
    margin-block: 0;
  }

  & * + * {
    margin-block-start: var(--space, 1.5rem);
  }

  & > * + * {
    margin-block-start: clamp(1.5rem, 20vh, 5rem);
  }
}
